* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #000;
  background-color: silver;
  padding: 3rem 4rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-block-end: 1em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Atacant directament a la imatge i DEFININT LES MIDES
podem utilitzar OBJECT-FIT per definir com es comporta la imatge.
  object-fit:fill;
  object-fit:contain;
  object-fit:cover;
  object-fit:scale-down;*/

img {
  width:100%;
	height:100%;
  object-fit:cover;
}


/* Definim el comportament del GRID */
.cards {
  display: grid;  
  gap:1rem;
  /* con margin-block-end la imagen no se distorsiona porque no defino el alto. 
  margin-block-end: 2rem;*/
  margin-block-end: 2rem;
  /* Con grid-auto-rows defino el alto del elemento y la imagen se distorsiona
  grid-auto-rows: 12rem;*/
}

.grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card {
  border: 5px solid white;
  outline: 1px dotted white; 
  outline-offset: -15px;
}
